.content {
    position: absolute;
    top: 62px;
    bottom: 0;
    width: calc(100% - 30px);
    background-color: rgba(248, 248, 248, 0.5);
    padding: 10px;
    border-radius: 4px;
    overflow: auto;
}
