.content {
    height: 50%;
    min-height: 300px;
    width: 100%;
    padding: 8px;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.37), 0 0 1px rgba(0, 0, 0, 0.37);
    border-radius: 4px;
}

.result {
    height: calc(100% - 100px);
    width: 100%;
    margin-bottom: 10px;
    overflow: auto;
}

.result canvas {
    /*height: 100%;*/
    /*height: calc(100% - 5px);*/
    /*width: 100%;*/
    /*min-width: 596px;*/
}
