.result {
    height: calc(100% - 100px);
    width: 100%;
    margin-bottom: 10px;
    overflow: auto;
}

.result canvas {
    /*height: 100%;*/
    /*height: calc(100% - 5px);*/
    /*width: 100%;*/
    /*min-width: 596px;*/
}
