.content {
    position: relative;
    height: 50%;
    min-height: 300px;
    min-width: 596px;
    padding: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.37), 0 0 1px rgba(0, 0, 0, 0.37);
    border-radius: 4px;
}

/*canvas {
    width: 100%;
    min-width: 596px;
}*/

.svg {
    height: 100%;
    width: 100%;
    min-width: 580px;
    background-color: white;
}

.svg image {
    height: 60px;
    width: 60px;
}

.robot {
    transform-origin: center center;
    cursor: pointer;
}

.tip {
    position: absolute;
    top: 180px;
    left: 420px;
    opacity: 0;
}

.triangle {
    height: 0;
    width: 0;
    border-top: 5px solid transparent;
    border-right: 5px solid red;
    border-bottom: 5px solid transparent;
    position: absolute;
    top: 12px;
    left: 0;
}

.triangle + .triangle {
    border-right: 5px solid white;
    left: 4px;
}

.box {
    /*min-height: 80px;*/
    width: 200px;
    padding: 10px;
    border: 3px solid red;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
