.content {
    position: relative;
    height: 100%;
    min-height: 300px;
    min-width: 596px;
    padding: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.37), 0 0 1px rgba(0, 0, 0, 0.37);
    border-radius: 4px;
}

.content iframe {
    height: 100%;
    width: 100%;
}
